go 1.19

use (
	./
)
replace (
    github.com/farseer-go/fs => ../fs
    github.com/farseer-go/collections => ../collections
    github.com/farseer-go/mapper => ../mapper
    github.com/farseer-go/memoryCache => ./../cacheMemory
    github.com/farseer-go/cache => ../cache
    github.com/farseer-go/linq => ../linq
)